

.wp-list-table .column-id { width: 5%; }
.wp-list-table .column-email { width: 20%; }
.wp-list-table .column-metadata { width: 35%; }
.wp-list-table .column-amount { width: 10%; }
.wp-list-table .column-txn_code { width: 15%; }
.wp-list-table .column-date { width: 10%; }
